.shop-container{
    color: white;
    background-color: #111;
    margin: 0rem 0rem;
}
.shop-container h1{
    margin: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
}
.shop-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    justify-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.shop-grid-item{
    border: .1rem solid white;
    border-radius: 1rem;
    width: 32rem;
    height: 32rem;
    overflow: hidden;
    box-shadow: 0rem 0em 1rem .2rem white;
    margin: 1rem 0rem;
    transition: transform .5s ease;
}
.shop-grid-item:hover{
    transform: scale(1.05);
}
.shop-grid-item img{
    width: 32rem;
    height: 20rem;
}
.info{
    padding: 0rem 1rem;
}
.info-name{
    font-weight: 500;
    font-size: 1.8rem;
    margin: .5rem 0rem;
}
.info-price{
    font-weight: 400;
    margin: .7rem 0rem;
}
.info-btn{
    background-color: rgb(197, 2, 2);
    color: white;
    border-radius: .5rem;
    border: .1rem solid white;
    margin: 1rem 1rem;
    width: 10rem;
    height: 3rem;
    font-weight: 500;
    font-size: 1.5rem;
    transition: background-color .5 ease;
}
.info-btn:hover{
    background-color: red;
}
.info-btn:active{
    background-color: rgb(182, 0, 0);
}
.shop-component{
    display: grid;
    grid-template-columns: .7fr 4fr;
}
.filter-component{
    width: 20rem;
    border-right: .2rem solid white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}
.input-area{
    border-radius: .4rem;
    width: 80%;
    height: 2rem;
    font-size: 1.3rem;
}
.option-area{
    font-size: 1.7rem;
}

.filter-label{
    width: 18rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}